@font-face{
    font-family: "open";
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
    /* Incluimos la fuente Open Sans de Google y nos referimos a ella como open. */
}
*{
    margin:0;
    padding:0;
}
.float-reset{
    clear:both;
}
body{
    background: url(../images/fondopatas.gif);
    font-family: open;
}
.container{
    width: 100%;
    max-width: 1170px;
}
.main-content{
    width: 100%;
    margin: 100px auto;
}
div.line-break{
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #cccccc;
    padding: 1px;
    margin-bottom: 10px;
    clear: both;
}
header{
    height: 70px;
    width: 100%;
    border-bottom: 3px solid #b5b5b5;
    box-shadow: 0px 1px 6px #262626;
    background: url('../images/fondo-formularios-semi.jpg');
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
nav{
    width:100%;
    max-width: 1170px;
    height: 70px;
    text-align: center;
}
nav ul{
    list-style: none;
    vertical-align: middle;
}
nav ul li{
    display: inline-block;
    line-height: 70px;
    vertical-align: middle;
    margin: 0 5px;
    width:50px;
}
nav ul img{
    vertical-align: middle;
    max-width:100%;
    height: auto;
    margin: 0px 10px;
    border: 2px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    transition: all .2s ease;
}
nav ul img:hover{
    width:50px;
    position: relative;
    /* top: 5px; */
    box-shadow: 5px 5px 3px #707070;
    margin: 0px 5px;
}    

div#home-buttons ul{
    float: left;
    
    text-align: left;
}
div#general-buttons ul{
    float: left;
    
    text-align: center;
}
div#session-buttons ul{
    float: right;
    
    text-align: right;
    text-shadow: 2px 2px 2px #707070;
}
label{
    cursor: pointer;
    padding-left:0 !important;
}
input[readonly]{
	background-color: #E5DFD5;
	cursor: not-allowed;
}
div.form-clientes{
    /*margin-bottom: 100px;*/
    padding: 15px;
    /*border:2px solid #000000;*/
    border-radius: 6px;
    box-shadow: 0px 0px 6px #262626;
    background: url('../images/fondo-formularios-semi.jpg');
}
div.form-clientes form{
    font-size: 12px;
}
div.form-clientes form textarea{
    resize: none;
}
div#mascotas-cliente{
    height: 150px;
    overflow: auto;
    margin-bottom: 10px;
}
div#mascotas-cliente table{
    background-color: #f9f9f9;
    vertical-align: middle;
    border-radius: 4px;
}
div#mascotas-cliente table tr td a{
    padding: 4px 8px;
}
div.img-form{
    margin-bottom: 30px;
    text-align: center;
    /*border:2px solid #000000;
    border-radius: 6px;*/
}
h1.img-title{
    font-size: 20px;
    margin:5px auto;
    text-shadow: 2px 2px 2px #707070;
}
footer{
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
    width: 100%;
    border-top: 3px solid #b5b5b5;
    box-shadow: 0px -1px 6px #262626;
    background: url('../images/fondo-formularios-semi.jpg');
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
}
footer div.fecha-hora{
    line-height: 80px;
    display: inline-block;
    vertical-align: middle;
    margin: 20px 0px;
}
footer div.fecha-hora input{
    text-align: center;
}
footer img.logo{
    width: 70%;
    vertical-align: middle;
}