@font-face{
    font-family: "open";
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
    /* Incluimos la fuente Open Sans de Google y nos referimos a ella como open. */
}
*{
    margin:0;
    padding:0;
}
.float-reset{
    clear:both;
}
body{
    background: url(../images/fondopatas.gif);
    font-family: open;
}
.container{
    width: 100%;
    max-width: 1170px;
}
.main-content{
    width: 100%;
    margin: 100px auto;
}
header{
    height: 70px;
    width: 100%;
    border-bottom: 3px solid #b5b5b5;
    box-shadow: 0px 1px 6px #262626;
    background: url('../images/fondo-formularios-semi.jpg');
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
nav{
    width:100%;
    max-width: 1170px;
    margin: auto;
    height: 70px;
    text-align: center;
}
nav ul{
    list-style: none;
    vertical-align: middle;
}
nav ul li{
    display: inline-block;
    line-height: 70px;
    vertical-align: middle;
    margin: 0 5px;
}
nav ul img{
    vertical-align: middle;
    max-width:100%;
    height: auto;
    margin: 0px 10px;
    border: 2px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    transition: all .2s ease;
}
nav ul img:hover{
    width:50px;
    position: relative;
    /* top: 5px; */
    box-shadow: 5px 5px 3px #707070;
    margin: 0px 5px;
}    

ul#home-buttons{
    float: left;
    width: 20%;
    text-align: left;
}
ul#general-buttons{
    float: left;
    width: 50%;
    text-align: center;
}
ul#session-buttons{
    float: right;
    width: 30%;
    text-align: right;
    text-shadow: 2px 2px 2px #707070;
}
label{
    cursor: pointer;
    padding-left:0 !important;
}
input[readonly]{
	background-color: #E5DFD5;
	cursor: not-allowed;
}
div.form-clientes{
    /*margin-bottom: 100px;*/
    padding: 15px;
    border:2px solid #000000;
    border-radius: 6px;
    box-shadow: 0px 0px 6px #262626;
    background: url('../images/fondo-formularios-semi.jpg');
}
div.form-clientes form{
    font-size: 12px;
}
div.img-form{
    /*margin-top: 100px;*/
    text-align: center;
    /*border:2px solid #000000;
    border-radius: 6px;*/
}
h1.img-title{
    font-size: 20px;
    margin:5px auto;
    text-shadow: 2px 2px 2px #707070;
}
footer{
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
    width: 100%;
    border-top: 3px solid #b5b5b5;
    box-shadow: 0px -1px 6px #262626;
    background: url('../images/fondo-formularios-semi.jpg');
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
}

/*  ESTILOS SANDRA */
.logo{
	float:left;
    vertical-align: middle;
}
    .logo img{
        width: 100%;
        height: auto;
        max-height: 75px;
        max-width: 100%;
    }
.direccion{
	float:left;
    text-align: center;
	/*margin:75px 10px 0px 10px;*/
}
.fecha{
    font-size: 18px;
	float:right;
    margin-right: 25px;
    vertical-align: middle;
	/*margin:75px 10px 0px 10px;*/
}
.reloj{
	float:right;
    vertical-align: middle;
	/*margin-top:65px;*/
}
.reloj input[name=reloj]{
    width: 110px;
    padding: 5px;
    background-color: #262626;
    color: #FFFFFF;
    font-size: 18px;
    text-align : center;
}